<!--round_button.html-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>round_button</title>
	<style>
	.round_button{
		width:50px;
		height: 50px;
		border-radius: 50px;
		border : 2px solid black;
		background: rgb( 50, 200, 50);
		box-shadow: 2px 2px 3px #AAA;
	}
	.round_button p{
		position :relative;
		width:50px;
		height: 50px;
		line-height: 50px;
		margin:0 auto;
		vertical-align: middle;
		text-align: center;
	}
	</style>
</head>
<body>
<div class="round_button">
<p>서울</p>
</div>
</body>
</html>